doctype html
html(lang="es",ng-app="warframe")
  head
    title WarframeProyect
    meta(charset="utf-8")
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet",crossorigin="anonymous")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Roboto",rel="stylesheet")
    link(href="css/bootstrap-material-design.css", rel="stylesheet")
    link(href="css/ripples.css", rel="stylesheet")
    link(href="css/alertify.css", rel="stylesheet")
    link(href="css/default.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")
    
  body
    block contenido
    
    
    
    script(src="js/angular.min.js")
    script(src="js/jquery.js")
    script(src="js/bootstrap.min.js")
    script(src="js/material.js")
    script(src="js/ripples.js")
    script(src="js/alertify.js")
    script(src="js/app.js")
    if noRegistro
      script(type='text/javascript').
          alertify.set('notifier','position', 'top-right');
          alertify.notify('#{noRegistro}','success',30)
    if errors
      script(type='text/javascript').
          alertify.set('notifier','position', 'top-right');
          alertify.notify('#{errors}','success',30)
