doctype html
html(lang="es",ng-app="warframe")
  head
    title WarframeProyect
    meta(charset="utf-8")
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet",crossorigin="anonymous")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7",crossorigin="anonymous")
    link(rel="stylesheet", href="css/style.css")
    
  body
    block contenido
    
    
    
    script(src="js/angular.min.js")
    script(src="js/app.js")
    script(src="js/jquery.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS",crossorigin="anonymou")
    script(src="js/trianglify.min.js")
    script(src="js/trianglify.js")