doctype html
html(lang="es",ng-app="warframe")
  head
    title WarframeProyect
    meta(charset="utf-8")
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
    link(rel="stylesheet", href="css/materialize.css")
    link(rel="stylesheet", href="css/style.css")
  body
    block contenido
    
    
    
    script(src="js/angular.min.js")
    script(src="js/app.js")
    script(src="js/jquery.js")
    script(src="js/materialize.js")
    script(src="js/trianglify.min.js")
    script(src="js/trianglify.js")