body{
  font-family: 'Roboto', sans-serif;
  background-color: #ECEFF1;
}
/*Helpers*/
.white-background{
  background-color: #fefefe;
}
.margin-top-45{
  margin-top: 45%;
}
.margin-top-5{
  margin-top: 5%;
}
.panel-heading{
  font-size: 15px;
}
.alert{
  margin-bottom: 5px;
}
.img-brand{
  width: 35px;
}
/*Helpers*/
/*Login*/


/*Login*/
