body{

}
/*Helpers*/
.white-background{
  background-color: #fefefe;
}
/*Helpers*/
/*Login*/

.login{
  margin-top: 15%;
}

.login-background{
  background-color: #000000;
}
canvas{
  position: absolute;
  top: 0px;
  z-index: -1;
}
.card-action{
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}
/*Login*/
